<div class="container-xxl mt-5 container-p-y d-flex align-items-center justify-content-center">
  <div class="misc-wrapper text-center">
    <h2 class="mb-2 mx-2">Данные не доступны!</h2>
    <p class="mb-4 mx-2">Извиняемся, но данный контент не доступен в данный момент</p>
    <a routerLink="/user/dashboard" class="btn btn-primary">Вернуться на главный</a>
    <div class="mt-4">
      <img
        src="../assets/img/img/illustrations/girl-doing-yoga-light.png"
        alt="girl-doing-yoga-light"
        width="500"
        class="img-fluid"
        data-app-dark-img="illustrations/girl-doing-yoga-dark.png"
        data-app-light-img="illustrations/girl-doing-yoga-light.png" />
    </div>
  </div>
</div>
