<div class="container">
  <div class="row mt-4">
    <div class="col-md-6 col-lg-5 offset-lg-1 mb-3">
      <div class="card">
        <div class="card-header">Одному</div>
        <div class="card-body">
          <h5 class="card-title">Участвовать в олимпиадах</h5>
          <p class="card-text">
            Каждый год проводятся олимпиады внутри школы по разным предметам, такие как языки, математика, физика, информатика и т.д. Можно участвовать в олимпиаде и в случае победы, дается возможность проходить дальше на региональные и даже на республиканскую уровень.
          </p>
          <a routerLink="/user/dashboard/olympiads" class="btn btn-primary">Участвовать</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-5 mb-3">
      <div class="card">
        <div class="card-header">В группе</div>
        <div class="card-body">
          <h5 class="card-title">Участвовать в проектных работах</h5>
          <p class="card-text">
            Каждый год проводиться Региональные, Республиканские конкурсы проектных работ среди Нишевцев. Можно участвовать одному, так и в команде. Максимальное количество людей в команде по разному, обычно это не превышает 4 человека.
          </p>
          <a routerLink="/user/dashboard/project-work" class="btn btn-primary">Участвовать</a>
        </div>
      </div>
    </div>
  </div>
</div>
